body {
    background-color: #C8B9D6;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#members {
    width: 100%;
    height: 100%;
}

#logo {
    width: 100%;
}

nav {
    display: grid;
    border: 2px solid #FCEEB5;
    padding: 10px 5px;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.5em;
}
